# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
makefile;
/ldp1/1_lez/HelloWorldApp/nbproject/private/
/ldp1/1_lez/HelloWorldApp/build/
/ldp1/1_lez/HelloWorldApp/dist/
/ldp1/1_lez/Ferrovia/nbproject/private/
/ldp1/1_lez/Ferrovia/dist/
/ldp1/1_lez/Ferrovia/build/
/ldp1/MoveCircle/nbproject/private/
/ldp1/MoveCircle/build/
/ldp1/MoveCircle/dist/