# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
makefile;
/ldp1/1_lez/HelloWorldApp/nbproject/private/
/ldp1/1_lez/HelloWorldApp/build/
/ldp1/1_lez/HelloWorldApp/dist/
/ldp1/1_lez/Ferrovia/nbproject/private/
/ldp1/1_lez/Ferrovia/dist/
/ldp1/1_lez/Ferrovia/build/
/ldp1/MoveCircle/nbproject/private/
/ldp1/MoveCircle/build/
/ldp1/MoveCircle/dist/
/ldp1/Esempio1/nbproject/private/
/ldp1/Esempio1/build/
/ldp1/Esempio1/dist/
/ldp1/Otto/nbproject/private/
/ldp1/Otto/dist/
/ldp1/Otto/build/
/ldp1/Dadi/nbproject/private/
/ldp1/Dadi/build/
/ldp1/Dadi/dist/
/ldp1/Hanoi/nbproject/private/
/ldp1/Hanoi/build/
/ldp1/Hanoi/dist/
/ldp1/Grid/nbproject/private/
/ldp1/Grid/build/
/ldp1/Grid/dist/
/ldp1/Poligoni/nbproject/private/
/ldp1/Poligoni/dist/
/ldp1/Poligoni/build/
/ldp1/JavaFXApplication8/nbproject/private/
/ldp1/JavaFXApplication8/dist/
/ldp1/Road/nbproject/private/
/ldp1/Road/build/
/ldp1/Road/dist/